<div class="menu">
  <div class="flex flex-wrap p-3 pb-0">
    <div class="w-12 md:w-4 text-center md:text-left">
      <a [href]="CONSTANTS.INSTAGRAM_LINK" target="_blank">
        <p-button [text]="true" icon="pi pi-instagram" size="large"/>
      </a>
      <a [href]="CONSTANTS.FACEBOOK_LINK" target="_blank">
        <p-button [text]="true" icon="pi pi-facebook" size="large"/>
      </a>
      <a [href]="CONSTANTS.WHATSAPP_LINK" target="_blank">
        <p-button [text]="true" icon="pi pi-whatsapp" size="large"/>
      </a>
    </div>

    <div class="w-12 md:w-4 text-center line-height-1">
      <h1 class="font-light">{{ CONSTANTS.NAME }}</h1>
      <h2 class="font-light">Fotografia</h2>
    </div>

    <div class="w-12 md:w-4"></div>
  </div>

  <p-scrollpanel [style]="{height: '3rem', width: '100%'}">
    <p-menubar [model]="items" [style]="{width: 'max-content', border: 'none', backgroundColor: 'transparent'}"
               breakpoint="0"/>
  </p-scrollpanel>
</div>
