<div class="gallery flex flex-wrap justify-content-center text-center">
  <h1 class="w-12 font-light py-4">{{ title }}</h1>

  <p-galleria [(activeIndex)]="activeIndex"
              [containerStyle]="{border: 'none', borderRadius: '0', maxWidth: '100%', minWidth: '100%'}"
              [showIndicatorsOnItem]="true"
              [showIndicators]="true"
              [showItemNavigators]="true"
              [showThumbnails]="false"
              [value]="featuredImages"
              class="box-shadow-default featured"
              containerClass="h-30rem md:h-20rem lg:h-20rem xl:h-30rem">
    <ng-template #item let-image>
      <img [alt]="image.alt" [ngSrc]="image.src" fill priority/>
    </ng-template>
  </p-galleria>

  <div class="flex flex-wrap w-full mx-3 my-7">
    <div *ngFor="let image of images"
         class="w-12 md:w-6 lg:w-4 xl:w-3 p-3">
      <p-image [alt]="image.alt"
               [preview]="true"
               [src]="image.src"
               class="border-round"
               imageClass="gallery-image"
               styleClass="w-full h-30rem md:h-20rem lg:h-20rem xl:h-30rem">
        <ng-template #indicator>
          <i class="pi pi-eye text-4xl"></i>
        </ng-template>
      </p-image>
    </div>
  </div>
</div>
