<div class="flex flex-column align-items-center">
  <img [alt]="CONSTANTS.NAME"
       [ngSrc]="CONSTANTS.IMAGE_URL"
       class="my-6"
       height="256"
       priority
       width="256"/>

  <div class="w-10 md:w-6">
    <p class="text-3xl m-0">{{ CONSTANTS.BIO }}</p>
  </div>

  <div class="text-center text-2xl my-6">
    <span>Contato:</span>
    <a class="no-underline text-primary block"
       href="mailto:{{ CONSTANTS.EMAIL }}"
       target="_blank">{{ CONSTANTS.EMAIL }}</a>
  </div>
</div>
