@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

html, body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  font-family: "Abel", sans-serif;
  user-select: none;
  overflow-x: hidden;

  background-color: color-mix(in srgb, var(--p-surface-900), transparent 22%);
  background-blend-mode: multiply;
  background-image: url('../public/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

p {
  text-indent: 2rem;
}

h1, h2 {
  margin: 0;
}

.p-menubar .p-menubar-root-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: calc(100vw - 2rem);
}

app-gallery {
  .galleria {
    width: 40rem;
    height: 30rem;

    @media screen and (max-width: 700px) {
      width: 25rem;
      height: 18.75rem;
    }
  }

  .starred {
    position: absolute;
    top: 5%;
    right: 3.75%;
    z-index: 1;
  }

  .p-galleria-nav-button {
    z-index: 1;
  }

  .p-image-preview-mask {
    z-index: 2;
  }
}
